
manipultate_scripts/.idea/.name

*.xml

manipultate_scripts/.idea/encodings.xml

manipultate_scripts/.idea/manipultate_scripts.iml

manipultate_scripts/.idea/misc.xml

manipultate_scripts/.idea/modules.xml

manipultate_scripts/.idea/vcs.xml

manipultate_scripts/.idea/workspace.xml

manipultate_scripts/.idea/scopes/scope_settings.xml
